.top {
  background-color: #49484d;
  /*dark purple grey*/
  color: #fdfdfd;
  font-size: 35pt;
  text-align: center;
  height: 200px;
}

h5 {
font-size: 11pt;
color: red;

}

.col-lg-2 {
  height: 200px;
  width: 200px;
}

#MAP1 {
  background-image: url(../img/MAP1.png);
  background-repeat: no-repeat;
}
#MAP2 {
  background-image: url(../img/MAP2.png);
  background-repeat: no-repeat;
}
#MAP3 {
  background-image: url(../img/MAP3.png);
  background-repeat: no-repeat;
}
#MAP4 {
  background-image: url(../img/MAP4.png);
  background-repeat: no-repeat;
}
#MAP5 {
  background-image: url(../img/MAP5.png);
  background-repeat: no-repeat;
}
#MAP6 {
  background-image: url(../img/MAP6.png);
  background-repeat: no-repeat;
}
#MAP7 {
  background-image: url(../img/MAP7.png);
  background-repeat: no-repeat;
}
#MAP8 {
  background-image: url(../img/MAP8.png);
  background-repeat: no-repeat;
}
#MAP9 {
  background-image: url(../img/MAP9.png);
  background-repeat: no-repeat;
}
#MAP10 {
  background-image: url(../img/MAP10.png);
  background-repeat: no-repeat;
}
#MAP11 {
  background-image: url(../img/MAP11.png);
  background-repeat: no-repeat;
}
#MAP12 {
  background-image: url(../img/MAP12.png);
  background-repeat: no-repeat;
}
#MAP13 {
  background-image: url(../img/MAP13.png);
  background-repeat: no-repeat;
}
#MAP14 {
  background-image: url(../img/MAP14.png);
  background-repeat: no-repeat;
}
#MAP15 {
  background-image: url(../img/MAP15.png);
  background-repeat: no-repeat;
}
#MAP16 {
  background-image: url(../img/MAP16.png);
  background-repeat: no-repeat;
}
#MAP17 {
  background-image: url(../img/MAP17.png);
  background-repeat: no-repeat;
}
#MAP18 {
  background-image: url(../img/MAP18.png);
  background-repeat: no-repeat;
}
#MAP19 {
  background-image: url(../img/MAP19.png);
  background-repeat: no-repeat;
}
#MAP20 {
  background-image: url(../img/MAP20.png);
  background-repeat: no-repeat;
}
#MAP21 {
  background-image: url(../img/MAP21.png);
  background-repeat: no-repeat;
}
#MAP22 {
  background-image: url(../img/MAP22.png);
  background-repeat: no-repeat;
}
#MAP23 {
  background-image: url(../img/MAP23.png);
  background-repeat: no-repeat;
}
#MAP24 {
  background-image: url(../img/MAP24.png);
  background-repeat: no-repeat;
}
#MAP25 {
  background-image: url(../img/MAP25.png);
  background-repeat: no-repeat;
}
#MAP26 {
  background-image: url(../img/MAP26.png);
  background-repeat: no-repeat;
}
#MAP27 {
  background-image: url(../img/MAP27.png);
  background-repeat: no-repeat;
}
#MAP28 {
  background-image: url(../img/MAP28.png);
  background-repeat: no-repeat;
}
#MAP29 {
  background-image: url(../img/MAP29.png);
  background-repeat: no-repeat;
}
#MAP30 {
  background-image: url(../img/MAP30.png);
  background-repeat: no-repeat;
}
